.errorCnt {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.errContentHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  color: gray;
  margin: 10px 0 10px 0;
}

button {
  padding: 16px;
  background-image: linear-gradient(107.28deg, #e01e3c 0.82%, #ff8300 99.6%);
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}

button:hover {
  background: linear-gradient(107.28deg, #ff8300 0.82%, #e01e3c 99.6%);
}
h1 {
  font-size: 100px;
}
