.footer_bottom {
  background: #000;
  padding: 18px 0;
  display: flex;
  width: 100%;
}
.footer_bottom .container {
  display: flex;
  align-items: center;
}
.footer_logo {
  width: 190px;
  float: left;
  position: relative;
  left: -8px;
}
.footer_b_menu {
  width: 65%;
  float: left;
  margin-left: 30px;
}
.footer_b_menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_b_menu ul li a {
  font-size: 12px;
  color: #fff;
}
.footer_b_menu ul li:last-child {
  position: relative;
  right: -39px;
}
.footer_b_menu ul li a:hover {
  text-decoration: underline;
}
