footer {
  background: #2c2c33;
  width: 100%;
  padding: 70px 0 50px;
  display: flex;

  float: left;
}
.footer_menu {
  width: 25%;
  float: left;
}
.footer_menu p {
  font-size: 19px;
  color: #fff;
  padding-bottom: 10px;
}
.footer_menu ul li {
  padding: 5px 0 10px;
}
.footer_menu ul li a {
  color: #fff;
  font-size: 15px;
}
.footer_menu ul li a:hover {
  text-decoration: underline;
}
.footer_bottom {
  background: #000;
  padding: 18px 0;
  display: flex;
  width: 100%;
}
.footer_bottom .container {
  display: flex;
  align-items: center;
}
.footer_logo {
  width: 190px;
  float: left;
  position: relative;
  left: -8px;
}
.footer_b_menu {
  width: 65%;
  float: left;
  margin-left: 30px;
}
.footer_b_menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_b_menu ul li a {
  font-size: 12px;
  color: #fff;
}
.footer_b_menu ul li:last-child {
  position: relative;
  right: -39px;
}
.footer_b_menu ul li a:hover {
  text-decoration: underline;
}
/* .footer_b_menu ul li:last-child{
  padding-left: 60px;
} */
.footer_menu.social p {
  width: 100%;
  clear: both;
}
.soc_p {
  padding-top: 30px;
}
.footer_menu.social p.copy {
  font-size: 12px;
  padding-top: 42px;
}
.footer_menu.social ul {
  padding-top: 15px;
}
.footer_menu.social ul li {
  float: left;
  padding: 0 14px 0 0;
}
.lang {
  margin-bottom: 40px;
  float: left;
  padding-top: 10px !important;
  width: 120px;
}
.lang li a img {
  margin-right: 13px;
}
.lang li {
  background: no-repeat center right;

  width: 100%;
}
.footer_menu.newsletter input {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  width: 254px;
  margin: 10px 0 18px;
  font-size: 15px;
  padding: 0 0 0 12px;
}
.btn {
  background: #e31837;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  width: 155px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
