.topArrow {
  position: fixed;
  right: 2%;
  top: 70%;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 2px 2px 8px 2px gray;
  z-index: 5;
  scroll-behavior: smooth;
}
